.head-line {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.head-line svg {
    width: 430px;
}
.menu-bar {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    border-bottom: 4px double black;   
}
.menu-bar button {
    border: none;
    background: none;
    margin: 5px;
}
.menu-bar button:hover{
    background-color: lightgray;
}
.new-img{
    max-width: 100%;
    max-height: 250px;
    margin-right: 1em;
    text-align: center;
}
.news {
    display: flex;
    border-bottom: 2px solid black;
    padding: 1em;
}